In [1]:
import pandas as pd
import sqlite3

In [2]:
conn=sqlite3.connect("inventory.db")

In [3]:
tables= pd.read_sql_query("select name from sqlite_master where type='table'",conn)
print(tables)

                   name
0             purchases
1       purchase_prices
2        vendor_invoice
3       begin_inventory
4         end_inventory
5                 sales
6   vendor_sales_summer
7  vendor_sales_summery

In [4]:
for table in tables["name"]:
    print ('-'*50, f'{tables}', '-'*50)
    print ('Counts of records:',pd.read_sql(f"select count(*) as count from {table}",conn)['count'].values[0])
    display(pd.read_sql(f"select * from {table} limit 5",conn))

--------------------------------------------------                    name
0             purchases
1       purchase_prices
2        vendor_invoice
3       begin_inventory
4         end_inventory
5                 sales
6   vendor_sales_summer
7  vendor_sales_summery --------------------------------------------------
Counts of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

--------------------------------------------------                    name
0             purchases
1       purchase_prices
2        vendor_invoice
3       begin_inventory
4         end_inventory
5                 sales
6   vendor_sales_summer
7  vendor_sales_summery --------------------------------------------------
Counts of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

--------------------------------------------------                    name
0             purchases
1       purchase_prices
2        vendor_invoice
3       begin_inventory
4         end_inventory
5                 sales
6   vendor_sales_summer
7  vendor_sales_summery --------------------------------------------------
Counts of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

--------------------------------------------------                    name
0             purchases
1       purchase_prices
2        vendor_invoice
3       begin_inventory
4         end_inventory
5                 sales
6   vendor_sales_summer
7  vendor_sales_summery --------------------------------------------------
Counts of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

--------------------------------------------------                    name
0             purchases
1       purchase_prices
2        vendor_invoice
3       begin_inventory
4         end_inventory
5                 sales
6   vendor_sales_summer
7  vendor_sales_summery --------------------------------------------------
Counts of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

--------------------------------------------------                    name
0             purchases
1       purchase_prices
2        vendor_invoice
3       begin_inventory
4         end_inventory
5                 sales
6   vendor_sales_summer
7  vendor_sales_summery --------------------------------------------------
Counts of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

--------------------------------------------------                    name
0             purchases
1       purchase_prices
2        vendor_invoice
3       begin_inventory
4         end_inventory
5                 sales
6   vendor_sales_summer
7  vendor_sales_summery --------------------------------------------------
Counts of records: 10692

,VendorNumber,VendorName,Brand,Volume,ActualPrice,PurchasePrice,TotalPurchaseQuantity,TotalpurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,freightCost,GrossProfit,ProfitMargin,StockTurnOver,SalestoPurchaseRation
0,7245,PROXIMO SPIRITS INC.,3065,50.0,0.99,0.71,1,0.71,86.0,85.14,33.66,4.46,38994.78,84.43,99.166079,86.000000,119.915493
1,3960,DIAGEO NORTH AMERICA INC,6127,200.0,1.99,1.47,1,1.47,72.0,143.28,77.61,15.12,257032.07,141.81,98.974037,72.000000,97.469388
2,3924,HEAVEN HILL DISTILLERIES,9123,50.0,0.99,0.74,2,1.48,2.0,1.98,0.99,0.10,14069.87,0.50,25.252525,1.000000,1.337838
3,8004,SAZERAC CO INC,5683,50.0,0.49,0.39,6,2.34,134.0,65.66,1.47,7.04,50293.62,63.32,96.436186,22.333333,28.059829
4,9815,WINE GROUP INC,8527,750.0,4.99,1.32,2,2.64,5.0,15.95,10.96,0.55,27100.41,13.31,83.448276,2.500000,6.041667

--------------------------------------------------                    name
0             purchases
1       purchase_prices
2        vendor_invoice
3       begin_inventory
4         end_inventory
5                 sales
6   vendor_sales_summer
7  vendor_sales_summery --------------------------------------------------
Counts of records: 10692

,VendorNumber,VendorName,Brand,Volume,ActualPrice,PurchasePrice,TotalPurchaseQuantity,TotalpurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,freightCost,GrossProfit,ProfitMargin,StockTurnOver,SalestoPurchaseRation
0,7245,PROXIMO SPIRITS INC.,3065,50.0,0.99,0.71,1,0.71,86.0,85.14,33.66,4.46,38994.78,84.43,99.166079,86.000000,119.915493
1,3960,DIAGEO NORTH AMERICA INC,6127,200.0,1.99,1.47,1,1.47,72.0,143.28,77.61,15.12,257032.07,141.81,98.974037,72.000000,97.469388
2,3924,HEAVEN HILL DISTILLERIES,9123,50.0,0.99,0.74,2,1.48,2.0,1.98,0.99,0.10,14069.87,0.50,25.252525,1.000000,1.337838
3,8004,SAZERAC CO INC,5683,50.0,0.49,0.39,6,2.34,134.0,65.66,1.47,7.04,50293.62,63.32,96.436186,22.333333,28.059829
4,9815,WINE GROUP INC,8527,750.0,4.99,1.32,2,2.64,5.0,15.95,10.96,0.55,27100.41,13.31,83.448276,2.500000,6.041667

In [5]:
purchases=pd.read_sql_query("select * from purchases where VendorNumber=4466",conn )
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [6]:
purchase_prices=pd.read_sql_query("select * from purchase_prices where VendorNumber=4466",conn )
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [7]:
vendor_invoice=pd.read_sql_query("select * from vendor_invoice where VendorNumber=4466",conn )
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [8]:
sales=pd.read_sql_query("select * from sales where VendorNo=4466",conn )
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [9]:
purchases.groupby(["Brand","PurchasePrice"])[["Quantity", "Dollars"]].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [10]:
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [11]:
vendor_invoice["PONumber"].nunique()

55

In [12]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [13]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [14]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [15]:
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [16]:
sales.groupby(['Brand'])[["SalesQuantity", "SalesDollars", "SalesPrice"]].sum()

       SalesQuantity  SalesDollars  SalesPrice
Brand
3140            3890      50531.10    30071.85
5215            4651      60416.49    41542.02
5255            6096      79187.04    51180.60

In [17]:
purchases.groupby(["Brand","PurchasePrice"])[["Quantity", "Dollars"]].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [18]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [19]:
### As the data is distributed in different tables, now we make summery of them based on this-
#purchase transections made by vendors
#sales transection data
#Freight cost for vendors
#Actual Product Prices for vendors

In [20]:
freight_summery= pd.read_sql_query("Select VendorNumber, Sum(Freight) as freightCost from vendor_invoice Group By VendorNumber",conn)
freight_summery

     VendorNumber  freightCost
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

In [21]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [22]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [23]:
purchase_summery=pd.read_sql_query('''select p.Brand, 
p.VendorNumber, 
p.VendorName,
p.PurchasePrice, 
pp.Volume,
pp.Price as ActualPrice, 
sum(p.Quantity) as TotalPurchaseQuantity,
sum (p.Dollars) as TotalpurchaseDollars 
from purchases p join purchase_prices pp 
On p.Brand = pp.Brand where p.PurchasePrice>0
group by p.VendorNumber,p.VendorName,p.Brand
order by TotalpurchaseDollars''',conn)
purchase_summery

,Brand,VendorNumber,VendorName,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalpurchaseDollars
0,3065,7245,PROXIMO SPIRITS INC.,0.71,50,0.99,1,0.71
1,6127,3960,DIAGEO NORTH AMERICA INC,1.47,200,1.99,1,1.47
2,9123,3924,HEAVEN HILL DISTILLERIES,0.74,50,0.99,2,1.48
3,5683,8004,SAZERAC CO INC,0.39,50,0.49,6,2.34
4,8527,9815,WINE GROUP INC,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...
10687,3545,3960,DIAGEO NORTH AMERICA INC,21.89,1750,29.99,138109,3023206.01
10688,4261,3960,DIAGEO NORTH AMERICA INC,16.17,1750,22.99,201682,3261197.94
10689,8068,17035,PERNOD RICARD USA,18.24,1750,24.99,187407,3418303.68
10690,3405,4425,MARTIGNETTI COMPANIES,23.19,1750,28.99,164038,3804041.22
10691,1233,1128,BROWN-FORMAN CORP,26.27,1750,36.99,145080,3811251.60

In [24]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [25]:
sales_summery=pd.read_sql_query('''select Brand,VendorNo,Description,
sum(SalesQuantity) as TotalSalesQuantity,
sum(SalesDollars)as TotalSalesDollars,
Sum(SalesPrice) as TotalSalesPrice,
sum(ExciseTax) as TotalExciseTax 
from sales
Group By Brand,VendorNo,Description
Order By TotalSalesDollars''',conn)
sales_summery

,Brand,VendorNo,Description,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax
0,5287,8004,Dr McGillicuddy's Vanilla,2,0.98,0.98,0.10
1,2773,9206,Revel Stoke Roasted Pecan,1,0.99,0.99,0.05
2,3623,10050,Spud Potato Vodka,2,1.98,1.98,0.10
3,3933,3252,New Amsterdam Vodka,2,1.98,0.99,0.10
4,9123,3924,Deep Eddy Vodka,2,1.98,0.99,0.10
...,...,...,...,...,...,...,...
11267,3545,3960,Ketel One Vodka,135838,4223107.62,545778.28,249587.83
11268,4261,3960,Capt Morgan Spiced Rum,200412,4475972.88,420050.01,368242.80
11269,8068,17035,Absolut 80 Proof,187140,4538120.60,461140.15,343854.07
11270,3405,4425,Tito's Handmade Vodka,160247,4819073.49,561512.37,294438.66
11271,1233,1128,Jack Daniels No 7 Black,142049,5101919.51,672819.31,260999.20

In [26]:
vendor_sales_summery= pd.read_sql_query("""with freight_summery as (Select VendorNumber, 
Sum(Freight) as freightCost 
from vendor_invoice 
Group By VendorNumber),

purchase_summery as(select p.Brand, 
p.VendorNumber, 
p.VendorName,
p.PurchasePrice, 
pp.Volume,
pp.Price as ActualPrice, 
sum(p.Quantity) as TotalPurchaseQuantity,
sum (p.Dollars) as TotalpurchaseDollars 
from purchases p join purchase_prices pp 
On p.Brand = pp.Brand 
where p.PurchasePrice>0
group by p.VendorNumber,p.VendorName,p.Brand, p.PurchasePrice, pp.Price,pp.Volume),

sales_summery as (select Brand,
VendorNo,
Description,
sum(SalesQuantity) as TotalSalesQuantity,
sum(SalesDollars)as TotalSalesDollars,
Sum(SalesPrice) as TotalSalesPrice,
sum(ExciseTax) as TotalExciseTax 
from sales
Group By Brand,VendorNo,Description)

select 
ps.VendorNumber,
ps.VendorName,
ps.Brand,
ps.Volume,
ps.ActualPrice,
ps.PurchasePrice,
ps.TotalPurchaseQuantity,
ps.TotalpurchaseDollars,
ss.Description,
ss.TotalSalesQuantity,
ss.TotalSalesDollars,
ss.TotalSalesPrice,
ss.TotalExciseTax, 
fs.freightCost 
from 
purchase_summery ps left join sales_summery ss on ps.VendorNumber=ss.VendorNo and ps.Brand=ss.Brand
left join freight_summery fs on ps.VendorNumber=fs.VendorNumber 
order by ps.TotalpurchaseDollars """, conn)

In [27]:
vendor_sales_summery

,VendorNumber,VendorName,Brand,Volume,ActualPrice,PurchasePrice,TotalPurchaseQuantity,TotalpurchaseDollars,Description,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,freightCost
0,7245,PROXIMO SPIRITS INC.,3065,50,0.99,0.71,1,0.71,Three Olives Grape Vodka,86.0,85.14,33.66,4.46,38994.78
1,3960,DIAGEO NORTH AMERICA INC,6127,200,1.99,1.47,1,1.47,The Club Strawbry Margarita,72.0,143.28,77.61,15.12,257032.07
2,3924,HEAVEN HILL DISTILLERIES,9123,50,0.99,0.74,2,1.48,Deep Eddy Vodka,2.0,1.98,0.99,0.10,14069.87
3,8004,SAZERAC CO INC,5683,50,0.49,0.39,6,2.34,Dr McGillicuddy's Apple Pie,134.0,65.66,1.47,7.04,50293.62
4,9815,WINE GROUP INC,8527,750,4.99,1.32,2,2.64,Concannon Glen Ellen Wh Zin,5.0,15.95,10.96,0.55,27100.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,1750,29.99,21.89,138109,3023206.01,Ketel One Vodka,135838.0,4223107.62,545778.28,249587.83,257032.07
10688,3960,DIAGEO NORTH AMERICA INC,4261,1750,22.99,16.17,201682,3261197.94,Capt Morgan Spiced Rum,200412.0,4475972.88,420050.01,368242.80,257032.07
10689,17035,PERNOD RICARD USA,8068,1750,24.99,18.24,187407,3418303.68,Absolut 80 Proof,187140.0,4538120.60,461140.15,343854.07,123780.22
10690,4425,MARTIGNETTI COMPANIES,3405,1750,28.99,23.19,164038,3804041.22,Tito's Handmade Vodka,160247.0,4819073.49,561512.37,294438.66,144929.24
10691,1128,BROWN-FORMAN CORP,1233,1750,36.99,26.27,145080,3811251.60,Jack Daniels No 7 Black,142049.0,5101919.51,672819.31,260999.20,68601.68

In [28]:
vendor_sales_summery.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Volume                    object
ActualPrice              float64
PurchasePrice            float64
TotalPurchaseQuantity      int64
TotalpurchaseDollars     float64
Description               object
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
freightCost              float64
dtype: object

In [29]:
vendor_sales_summery.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
Volume                     0
ActualPrice                0
PurchasePrice              0
TotalPurchaseQuantity      0
TotalpurchaseDollars       0
Description              178
TotalSalesQuantity       178
TotalSalesDollars        178
TotalSalesPrice          178
TotalExciseTax           178
freightCost                0
dtype: int64

In [30]:
vendor_sales_summery["VendorName"].unique()

array(['PROXIMO SPIRITS INC.       ', 'DIAGEO NORTH AMERICA INC   ',
       'HEAVEN HILL DISTILLERIES   ', 'SAZERAC CO INC             ',
       'WINE GROUP INC             ', 'VINILANDIA USA             ',
       'PALM BAY INTERNATIONAL INC ', 'MARTIGNETTI COMPANIES',
       'STE MICHELLE WINE ESTATES  ', 'ULTRA BEVERAGE COMPANY LLP ',
       'BANFI PRODUCTS CORP        ', 'MILTONS DISTRIBUTING CO    ',
       'M S WALKER INC             ', 'JIM BEAM BRANDS COMPANY    ',
       'PINE STATE TRADING CO      ', 'THE IMPORTED GRAPE LLC     ',
       'SOUTHERN WINE & SPIRITS NE ', 'DIAGEO CHATEAU ESTATE WINES',
       'LUXCO INC                  ', 'KOBRAND CORPORATION        ',
       'BACARDI USA INC            ', 'MHW LTD                    ',
       'STATE WINE & SPIRITS   ', 'PERFECTA WINES             ',
       'SAZERAC NORTH AMERICA INC. ', 'Circa Wines                ',
       'VINEYARD BRANDS INC        ', 'CRUSH WINES                ',
       'E & J GALLO WINERY         ', 'BROWN-FORMAN CORP          ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'PERNOD RICARD USA          ', 'FLAVOR ESSENCE INC         ',
       'FLAG HILL WINERY & VINEYARD', 'VRANKEN AMERICA            ',
       'Serralles Usa LLC          ', 'DISARONNO INTERNATIONAL LLC',
       'FORTUNE WINE BROKERS LLC   ', 'STAR INDUSTRIES INC.       ',
       'CONSTELLATION BRANDS INC   ', 'OLE SMOKY DISTILLERY LLC   ',
       'Dunn Wine Brokers          ', 'FREDERICK WILDMAN & SONS   ',
       'DJINN SPIRITS LLC          ', 'CAMPARI AMERICA            ',
       'SURVILLE ENTERPRISES CORP  ', 'ALISA CARR BEVERAGES           ',
       'DUGGANS DISTILLED PRODUCTS ', 'PHILLIPS PRODUCTS CO.      ',
       'TREASURY WINE ESTATES      ', 'LATITUDE BEVERAGE COMPANY  ',
       'STOLI GROUP,(USA) LLC      ', 'TRINCHERO FAMILY ESTATES   ',
       'CAPSTONE INTERNATIONAL     ', 'SEA HAGG DISTILLERY LLC    ',
       'PSP WINES ', 'MCCORMICK DISTILLING CO    ',
       'ADAMBA IMPORTS INTL INC    ', 'SHAW ROSS INT L IMP LTD    ',
       'SILVER MOUNTAIN CIDERS     ', 'MARSALLE COMPANY           ',
       'MOET HENNESSY USA INC      ', 'DELICATO VINEYARDS INC     ',
       'PARK STREET IMPORTS LLC    ', 'STELLAR IMPORTING CO LLC   ',
       'CHARLES JACQUIN ET CIE INC ', 'WEIN BAUER INC             ',
       'BRONCO WINE COMPANY        ', 'AAPER ALCOHOL & CHEMICAL CO',
       'MAJESTIC FINE WINES        ', 'REMY COINTREAU USA INC     ',
       'WILLIAM GRANT & SONS INC   ', 'WESTERN SPIRITS BEVERAGE CO',
       'BLACK PRINCE DISTILLERY INC', 'UNCORKED       ',
       'VINEXTRA INC               ', 'FANTASY FINE WINES CORP    ',
       'LAIRD & CO                 ', 'KLIN SPIRITS LLC           ',
       'LAUREATE IMPORTS CO        ', 'BULLY BOY DISTILLERS       ',
       'EDRINGTON AMERICAS         ', 'TY KU LLC                  ',
       'CASTLE BRANDS CORP.        ', 'POVERTY LANE ORCHARDS      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'SEA BREEZE CELLARS LLC     ', 'CENTEUR IMPORTS LLC        ',
       'HIGHLAND WINE MERCHANTS LLC', 'HOOD RIVER DISTILLERS, Inc.',
       'SOUTHERN GLAZERS W&S OF NE ', 'TRUETT HURST               ',
       'AMERICAN SPIRITS EXCHANGE  ', 'ALTAMAR BRANDS LLC         ',
       'Russian Standard Vodka     ', 'MOONLIGHT MEADERY          ',
       'ATLANTIC IMPORTING COMPANY ', 'TAMWORTH DISTILLING        ',
       'CALEDONIA SPIRITS INC      ', 'NICHE W & S                ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'MARTIGNETTI COMPANIES ', 'SIDNEY FRANK IMPORTING CO  ',
       'PREMIER DISTRIBUTORS       ', 'SWEETWATER FARM         ',
       'LOYAL DOG WINERY           ', 'VINEYARD BRANDS LLC        ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'WALPOLE MTN VIEW WINERY    ', 'LABELLE VYDS AND WINERY    ',
       'INCREDIBREW INC            ', 'JEWELL TOWNE VINEYARDS     ',
       'CANDIA VINEYARDS           ', 'VINEDREA WINES LLC         ',
       'FULCHINO VINEYARD INC      ', 'TAKARA SAKE USA INC        ',
       'SMOKY QUARTZ DISTILLERY LLC', 'ZORVINO VINEYARDS          ',
       'TALL SHIP DISTILLERY LLC   ', 'BLACK COVE BEVERAGES       ',
       'FABRIZIA SPIRITS LLC       ', 'PREMIUM PORT WINES, INC.   ',
       'SWEET BABY VINEYARD        ', 'STARK BREWING COMPANY      ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         '],
      dtype=object)

In [31]:
vendor_sales_summery["Volume"]=vendor_sales_summery['Volume'].astype("float64")

In [32]:
vendor_sales_summery["Volume"].dtypes

dtype('float64')

In [33]:
vendor_sales_summery.fillna(0, inplace=True)

In [34]:
vendor_sales_summery["VendorName"]=vendor_sales_summery["VendorName"].str.strip()    # it deletates irelevent whitespaces

In [35]:
vendor_sales_summery["GrossProfit"]=vendor_sales_summery["TotalSalesDollars"]-vendor_sales_summery["TotalpurchaseDollars"]

In [36]:
vendor_sales_summery["ProfitMargin"]=(vendor_sales_summery["GrossProfit"]/vendor_sales_summery["TotalSalesDollars"])*100

In [37]:
vendor_sales_summery["StockTurnOver"]= vendor_sales_summery["TotalSalesQuantity"]/vendor_sales_summery["TotalPurchaseQuantity"]

In [38]:
vendor_sales_summery["SalestoPurchaseRation"]=vendor_sales_summery["TotalSalesDollars"]/vendor_sales_summery["TotalpurchaseDollars"]

In [39]:
vendor_sales_summery.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Volume', 'ActualPrice',
       'PurchasePrice', 'TotalPurchaseQuantity', 'TotalpurchaseDollars',
       'Description', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalExciseTax', 'freightCost', 'GrossProfit',
       'ProfitMargin', 'StockTurnOver', 'SalestoPurchaseRation'],
      dtype='object')

In [40]:
cursor=conn.cursor()

In [42]:
cursor.execute("""create table vendor_sales_summery(VendorNumber INT unique not null,
VendorName varchar(100),
Brand INT,
Description varchar(200),
PurchasePrice Decimal(10,2),
ActualPrice Decimal(10,2),
Volume,
TotalPurchaseQuantity INT,
TotalSalesQuantity INT,
TotalSalesDollars decimal(15,2),
TotalSalesPrice decimal(15,2),
TotalExciseTax decimal(15,2),
freightCost decimal(15,2),
GrossProfit decimal(15,2),
ProfitMargin decimal(15,2),
StockTurnOver int,
SalestoPurchaseRation decimal (15,2),
PRIMARY KEY(VendorNumber,Brand)
);
""")

OperationalError: table vendor_sales_summery already exists

In [49]:
import pandas as pd
import numpy as np
import os
import logging
from Ingestion import ingest_db
import time

os.makedirs("logs", exist_ok=True)

# Logging configuration
logging.basicConfig(
    filename="logs/get_vendor_summery.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"
)    
def create_vendor_summery(conn):
    vendor_sales_summery= pd.read_sql_query("""with freight_summery as (Select VendorNumber, 
    Sum(Freight) as freightCost 
    from vendor_invoice 
    Group By VendorNumber),

    purchase_summery as(select p.Brand, 
    p.VendorNumber, 
    p.VendorName,
    p.PurchasePrice, 
    pp.Volume,
    pp.Price as ActualPrice, 
    sum(p.Quantity) as TotalPurchaseQuantity,
    sum (p.Dollars) as TotalpurchaseDollars 
    from purchases p join purchase_prices pp 
    On p.Brand = pp.Brand 
    where p.PurchasePrice>0
    group by p.VendorNumber,p.VendorName,p.Brand, p.Description, p.PurchasePrice, pp.Price,pp.Volume),

    sales_summery as (select Brand,
    VendorNo,
    Description,
    sum(SalesQuantity) as TotalSalesQuantity,
    sum(SalesDollars)as TotalSalesDollars,
    Sum(SalesPrice) as TotalSalesPrice,
    sum(ExciseTax) as TotalExciseTax 
    from sales
    Group By Brand,VendorNo,Description)

    select 
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Volume,
    ps.ActualPrice,
    ps.PurchasePrice,
    ps.TotalPurchaseQuantity,
    ps.TotalpurchaseDollars,
    ss.Description,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalExciseTax, 
    fs.freightCost 
    from 
    purchase_summery ps left join sales_summery ss on ps.VendorNumber=ss.VendorNo and ps.Brand=ss.Brand
    left join freight_summery fs on ps.VendorNumber=fs.VendorNumber 
    order by ps.TotalpurchaseDollars """, conn)
    return vendor_sales_summery
def clean_data(df):
    df["Volume"]=df['Volume'].astype("float64")
    df.fillna(0, inplace=True)
    df["VendorName"]=df["VendorName"].str.strip() 
    vendor_sales_summery["GrossProfit"]=vendor_sales_summery["TotalSalesDollars"]-vendor_sales_summery["TotalpurchaseDollars"]
    vendor_sales_summery["ProfitMargin"]=(vendor_sales_summery["GrossProfit"]/vendor_sales_summery["TotalSalesDollars"])*100
    vendor_sales_summery["StockTurnOver"]= vendor_sales_summery["TotalSalesQuantity"]/vendor_sales_summery["TotalPurchaseQuantity"]
    vendor_sales_summery["SalestoPurchaseRation"]=vendor_sales_summery["TotalSalesDollars"]/vendor_sales_summery["TotalpurchaseDollars"]
    return df
if __name__ == "__main__":
    conn=sqlite3.connect("inventory.db")
    logging.info("Creating vendor Summery table...")
    summery_df= create_vendor_summery(conn)
    logging.info(summery_df.head())

    logging.info("Cleaning data...")
    clean_df= clean_data(summery_df)
    logging.info(clean_df.head())

In [50]:
pd.read_sql_query("select * from vendor_sales_summery",conn)

,VendorNumber,VendorName,Brand,Volume,ActualPrice,PurchasePrice,TotalPurchaseQuantity,TotalpurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,freightCost,GrossProfit,ProfitMargin,StockTurnOver,SalestoPurchaseRation
0,7245,PROXIMO SPIRITS INC.,3065,50.0,0.99,0.71,1,0.71,86.0,85.14,33.66,4.46,38994.78,84.43,99.166079,86.000000,119.915493
1,3960,DIAGEO NORTH AMERICA INC,6127,200.0,1.99,1.47,1,1.47,72.0,143.28,77.61,15.12,257032.07,141.81,98.974037,72.000000,97.469388
2,3924,HEAVEN HILL DISTILLERIES,9123,50.0,0.99,0.74,2,1.48,2.0,1.98,0.99,0.10,14069.87,0.50,25.252525,1.000000,1.337838
3,8004,SAZERAC CO INC,5683,50.0,0.49,0.39,6,2.34,134.0,65.66,1.47,7.04,50293.62,63.32,96.436186,22.333333,28.059829
4,9815,WINE GROUP INC,8527,750.0,4.99,1.32,2,2.64,5.0,15.95,10.96,0.55,27100.41,13.31,83.448276,2.500000,6.041667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,1750.0,29.99,21.89,138109,3023206.01,135838.0,4223107.62,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
10688,3960,DIAGEO NORTH AMERICA INC,4261,1750.0,22.99,16.17,201682,3261197.94,200412.0,4475972.88,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
10689,17035,PERNOD RICARD USA,8068,1750.0,24.99,18.24,187407,3418303.68,187140.0,4538120.60,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
10690,4425,MARTIGNETTI COMPANIES,3405,1750.0,28.99,23.19,164038,3804041.22,160247.0,4819073.49,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
10691,1128,BROWN-FORMAN CORP,1233,1750.0,36.99,26.27,145080,3811251.60,142049.0,5101919.51,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647

In [51]:
vendor_sales_summery.to_sql("vendor_sales_summery",conn ,if_exists='replace', index=False)

10692

In [52]:
pd.read_sql_query("select * from vendor_sales_summery",conn)

,VendorNumber,VendorName,Brand,Volume,ActualPrice,PurchasePrice,TotalPurchaseQuantity,TotalpurchaseDollars,Description,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,freightCost,GrossProfit,ProfitMargin,StockTurnOver,SalestoPurchaseRation
0,7245,PROXIMO SPIRITS INC.,3065,50.0,0.99,0.71,1,0.71,Three Olives Grape Vodka,86.0,85.14,33.66,4.46,38994.78,84.43,99.166079,86.000000,119.915493
1,3960,DIAGEO NORTH AMERICA INC,6127,200.0,1.99,1.47,1,1.47,The Club Strawbry Margarita,72.0,143.28,77.61,15.12,257032.07,141.81,98.974037,72.000000,97.469388
2,3924,HEAVEN HILL DISTILLERIES,9123,50.0,0.99,0.74,2,1.48,Deep Eddy Vodka,2.0,1.98,0.99,0.10,14069.87,0.50,25.252525,1.000000,1.337838
3,8004,SAZERAC CO INC,5683,50.0,0.49,0.39,6,2.34,Dr McGillicuddy's Apple Pie,134.0,65.66,1.47,7.04,50293.62,63.32,96.436186,22.333333,28.059829
4,9815,WINE GROUP INC,8527,750.0,4.99,1.32,2,2.64,Concannon Glen Ellen Wh Zin,5.0,15.95,10.96,0.55,27100.41,13.31,83.448276,2.500000,6.041667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,1750.0,29.99,21.89,138109,3023206.01,Ketel One Vodka,135838.0,4223107.62,545778.28,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
10688,3960,DIAGEO NORTH AMERICA INC,4261,1750.0,22.99,16.17,201682,3261197.94,Capt Morgan Spiced Rum,200412.0,4475972.88,420050.01,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
10689,17035,PERNOD RICARD USA,8068,1750.0,24.99,18.24,187407,3418303.68,Absolut 80 Proof,187140.0,4538120.60,461140.15,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
10690,4425,MARTIGNETTI COMPANIES,3405,1750.0,28.99,23.19,164038,3804041.22,Tito's Handmade Vodka,160247.0,4819073.49,561512.37,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
10691,1128,BROWN-FORMAN CORP,1233,1750.0,36.99,26.27,145080,3811251.60,Jack Daniels No 7 Black,142049.0,5101919.51,672819.31,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647